@page
@{
    @using System.Reflection;
    @using System.Linq;

    <html>
    <head>
        <style>
            .property-name {
                color: #181818;
            }
        </style>
    </head>
    <body>
        <form id="createForm" action="/" method="post">
            @foreach (var prop in (ViewBag.ViewModel.GetType().GetProperties() as PropertyInfo[]).Skip(1))
            {
                @if (prop.Name.Contains("Id"))
                {
                    <label for="@prop.Name">@prop.Name.Replace("Id", "")</label>
                    <br />
                    <select form="createForm" id="@prop.Name" name="@prop.Name">
                        @{
                            var viewData = (ViewBag.GetType().GetProperties(BindingFlags.NonPublic | BindingFlags.Instance))[0].GetValue(ViewBag, null)[prop.Name.Replace("Id", "")];
                            @foreach (var item in viewData)
                            {
                                <option value="@((item.GetType().GetProperties() as PropertyInfo[]).Where(pr => pr.Name.Contains("Id")).FirstOrDefault().GetValue(item, null))">
                                    @((item.GetType().GetProperties() as PropertyInfo[]).Where(pr => pr.Name.Contains("Name")).FirstOrDefault().GetValue(item, null))
                                </option>
                            }
                        }
                    </select>
                    <br />
                }
                else
                {
                    <label for="@prop.Name">@prop.Name</label>
                    <br />
                    <input type="text" id="@prop.Name" name="@prop.Name" placeholder="@prop.Name" />
                    <br />
                }
            }
            <br />
            <input type="submit" value="Create" />
        </form>
    </body>
</html>
}
