@page
@{
    @using System.Reflection;
    @using System.Linq;

    <html>
    <head>
        <style>
            .property-name {
                color: #0e0e0e;
            }
        </style>

        <script>

            const handleGetUpdate = () => {

                window.location.href = "/CreateUpdate/update/@ViewBag.Section/@ViewBag.Id";

            };

        </script>
    </head>
    <body>
        <table>
            @foreach (var prop in (ViewBag.Info.GetType().GetProperties() as PropertyInfo[]).Where((pr) => !Course.Constants.StringConstants.Filter.Contains(pr.Name)))
            {
                string propName = prop.Name;
                if (propName.Contains("Id"))
                {

                }
                else if (propName.Contains("Name"))
                {
                    Func<PropertyInfo, bool> func = (prop) => prop.Name.Contains(propName.Replace("Name", "Id"));
                    var property = (ViewBag.Info.GetType().GetProperties() as PropertyInfo[]).Where(func).FirstOrDefault();
                    var sectionLine = string.IsNullOrEmpty(propName.Replace("Name", "")) ? ViewBag.Section : propName.Replace("Name", "");

                    <tr>
                        <td>
                            <p class="property-name">@propName</p>
                        </td>
                        <td>
                            @if (property != null)
                            {
                                <p><a href="/GetData/@sectionLine/@property.GetValue(ViewBag.Info, null)">@prop.GetValue(ViewBag.Info, null)</a></p>
                            }
                            else
                            {
                                <p>@prop.GetValue(ViewBag.Info, null)</p>
                            }
                        </td>
                    </tr>
                    //propName.Replace("Name", "Id");
                }
                else
                {
                    <tr>
                        <td>
                            <p class="property-name">@propName</p>
                        </td>
                        <td>
                            <p>@prop.GetValue(ViewBag.Info, null)</p>
                        </td>
                    </tr>
                }
            }
        </table>
        <input type="button" value="Update" onclick="handleGetUpdate()"/>
    </body>
</html>
}
