@page
@{
    @using System.Reflection;
    @using System.Linq;

    <html>
    <head>
        <style>
            .property-name {
                color: #181818;
            }
        </style>
        <script>

            const formToJSON = (elements) =>
                [].reduce.call(
                    elements,
                    (data, element) => {
                        data[element.name] = element.value;
                        return data;
                    },
                    {},
                );

            const handleUpdateFormSubmit = () => {
                // Stop the form from submitting since we’re handling that with AJAX.
                const form = document.getElementById('updateForm');

                // Call our function to get the form data.
                const data = formToJSON(form.elements);

                $.ajax({
                    type: "PUT",
                    url: "/CreateUpdate/update/@ViewBag.Section",
                    data: JSON.stringify(data, null, '  '),
                    dataType: "json",
                    contentType: "application/json"
                });

                // ...this is where we’d actually do something with the form data...
            };

            form.addEventListener('submit', handleFormSubmit);


            function create() {
                var formData = JSON.stringify($("#updateForm").serializeArray());

                $.ajax({
                    type: "PUT",
                    url: "/CreateUpdate/update/@ViewBag.Section",
                    data: formData,
                    dataType: "json",
                    contentType: "application/json"
                });
            }
        </script>
    </head>
    <body>
        <form id="updateForm" action="/CreateUpdate/create/@ViewBag.Section" method="post">
            @foreach (var prop in (ViewBag.ViewModel.GetType().GetProperties() as PropertyInfo[]).Where((pr) => !Course.Constants.StringConstants.Filter.Contains(pr.Name)))
            {
                @if (prop.Name.Contains("Id"))
                {
                    if (prop.Name.Contains(ViewBag.Section))
                    {
                        <label for="@prop.Name">@prop.Name.Replace("Id", "")</label>
                        <br />
                        <input type="text" id="@prop.Name" name="@prop.Name" placeholder="@prop.Name" value="@prop.GetValue(ViewBag.ViewModel, null)" disabled="disabled"/>
                        <br />
                    }
                    else
                    {


                        <label for="@prop.Name">@prop.Name.Replace("Id", "")</label>
                        <br />
                        <select form="createForm" id="@prop.Name" name="@prop.Name">
                            @{
                                var viewData = (ViewBag.GetType().GetProperties(BindingFlags.NonPublic | BindingFlags.Instance))[0].GetValue(ViewBag, null)[prop.Name.Replace("Id", "")];
                                @if (viewData != null)
                                    @foreach (var item in viewData)
                                    {
                                        if (prop.GetValue(ViewBag.ViewModel, null) == ((item.GetType().GetProperties() as PropertyInfo[]).Where(pr => pr.Name.Contains("Id")).FirstOrDefault().GetValue(item, null)))
                                        {
                                            <option selected="selected" value="@((item.GetType().GetProperties() as PropertyInfo[]).Where(pr => pr.Name.Contains("Id")).FirstOrDefault().GetValue(item, null))">
                                                @((item.GetType().GetProperties() as PropertyInfo[]).Where(pr => pr.Name.Contains("Name")).FirstOrDefault().GetValue(item, null))
                                            </option>

                                        }
                                        else
                                        {
                                            <option value="@((item.GetType().GetProperties() as PropertyInfo[]).Where(pr => pr.Name.Contains("Id")).FirstOrDefault().GetValue(item, null))">
                                                @((item.GetType().GetProperties() as PropertyInfo[]).Where(pr => pr.Name.Contains("Name")).FirstOrDefault().GetValue(item, null))
                                            </option>
                                        }
                                    }
                            }
                        </select>
                        <br />
                    }
                }
                else
                {
                    <label for="@prop.Name">@prop.Name</label>
                    <br />
                    <input type="text" id="@prop.Name" name="@prop.Name" placeholder="@prop.Name" value="@prop.GetValue(ViewBag.ViewModel, null)" />
                    <br />
                }
            }
            <br />
            @*<input type="submit" value="Create" />*@
            <input type="button" value="Update" onclick="handleUpdateFormSubmit()" />
        </form>
    </body>
</html>
}
